:root {
  --border-radius: 16px;
  --transition-duration: 0.4s;
  --primary-gray-color: #F6F6F6;
  --secondary-color-gray: #535353;
  --secondary-color-red: #E41616;
  --lines-light-gray-input: #CDCDCD;
  --lines-light-gray: #E9E9E9;
  --secondary-color-light-gray: #9D9D9D;
  --primary-black-color: #000;
  --article-title-font-size: 22px;
  --article-mob-title-font-size: 18px;
  --article-info-font-size: 14px;
  --article-mob-info-font-size: 12px;
}

button {
  cursor: pointer;
}
